<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Test Suite">

  <test thread-count="1" name="Smoke Test">
    <classes>
      <class name="testCase.KayakSmokeTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="1" name="Functional Test">
    <classes>
      <class name="testCase.KayakTestingDataDriven"/>
      <class name="testCase.TestNGAnnotationDemo"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
